@font-face {
    font-family: "HelveticaNeue Medium";
    src: url("../fonts/HelveticaNeueMed.ttf");
}

@font-face {
    font-family: "HelveticaNeue Bold";
    src: url("../fonts/HelveticaNeueBd.ttf");
}